In [5]:
import pandas as pd

In [2]:
path = 'F:\Big_Data\Military\Armed forces personnel\Armed forces personnel_selected.csv'
df = pd.read_csv(path)
df

,Time,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,340350.0,338150.0,330650.0,308800.0,319400.0,323000.0,323000.0,NaN,NaN,NaN
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,117000.0,117000.0,117000.0,117000.0,117000.0,117000.0,117000.0,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14750.0,14750.0,8500.0,8500.0,8500.0,8500.0,9000.0,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,137900.0,137900.0,137900.0,20000.0,20000.0,20000.0,40000.0,NaN,NaN,NaN
209,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77582.0,62100.0,77150.0,82250.0,82150.0,81400.0,80000.0,NaN,NaN,NaN
210,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16500.0,16500.0,16500.0,16500.0,16500.0,16500.0,16000.0,NaN,NaN,NaN
211,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50800.0,50800.0,50800.0,50800.0,50800.0,50800.0,51000.0,NaN,NaN,NaN

In [3]:
df.set_index('Time', inplace=True)
df_transposed = df.T
df_transposed

Time,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,American Samoa,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,NaN,323000.0,117000.0,8500.0,NaN,2781410.0,63000.0,105450.0,49100.0,NaN,...,NaN,522000.0,NaN,27542350.0,NaN,NaN,20000.0,81400.0,16500.0,50800.0
2017,NaN,323000.0,117000.0,9000.0,NaN,2737000.0,63000.0,105000.0,49000.0,NaN,...,NaN,522000.0,NaN,27414000.0,NaN,NaN,40000.0,80000.0,16000.0,51000.0
2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import numpy as np
df_transposed[np.isnan(df_transposed)] = 0
df_transposed

Time,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,American Samoa,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,0.0,323000.0,117000.0,8500.0,0.0,2781410.0,63000.0,105450.0,49100.0,0.0,...,0.0,522000.0,0.0,27542350.0,0.0,0.0,20000.0,81400.0,16500.0,50800.0
2017,0.0,323000.0,117000.0,9000.0,0.0,2737000.0,63000.0,105000.0,49000.0,0.0,...,0.0,522000.0,0.0,27414000.0,0.0,0.0,40000.0,80000.0,16000.0,51000.0
2018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1]:
df_transposed.to_csv('F:\Big_Data\Military\Armed forces personnel\df_transposed')

NameError: name 'df_transposed' is not defined

In [6]:
path2 = 'F:\Big_Data\Military\Armed forces personnel\df_transposed.csv'
afp = pd.read_csv(path2)
afp

,Time,Aruba,Afghanistan,Angola,Albania,Andorra,United Arab Emirates,Argentina,Armenia,American Samoa,...,Uruguay,United States,Uzbekistan,"Venezuela, RB",Vietnam,Vanuatu,Yemen,South Africa,Zambia,Zimbabwe
0,1989,0,55000,107000,0,0,43000,95000,0,0,...,27000,2240000,0,75000,1250000,0,62000,100000,17000,51000
1,1990,0,58000,115000,0,0,66000,85000,0,0,...,25000,2180000,0,75000,1050000,0,127000,85000,16000,45000
2,1991,0,45000,150000,0,0,66000,70000,0,0,...,25000,2120000,0,73000,1040000,0,127000,80000,16000,45000
3,1992,0,45000,128000,65000,0,55000,65000,20000,0,...,25000,1920000,40000,75000,857000,0,64000,75000,16000,48000
4,1993,0,45000,128000,65000,0,55000,65000,21000,0,...,25000,1820000,41000,75000,857000,0,64000,75000,16000,48000
5,1994,0,45000,120000,65000,0,60000,69000,45000,0,...,25000,1720000,20000,75000,700000,0,69000,75000,16000,43000
6,1995,0,383000,122000,86500,0,71000,98500,61000,0,...,26500,1635600,41700,80000,622000,0,69500,276900,23000,67800
7,1996,0,429000,106400,67500,0,65500,103700,58400,0,...,26520,1572100,46000,79000,622000,0,112000,277900,23000,64800
8,1997,0,429000,125500,67500,0,65500,104240,61000,0,...,26050,1533300,86000,79000,557000,0,146300,217440,23000,60800
9,1998,0,400000,129000,67500,0,65500,104240,54400,0,...,26520,1594000,100000,79000,524000,0,136300,211700,23000,60800
10,1999,0,400000,127500,67500,0,65500,101740,54400,0,...,26520,1575000,94000,79000,524000,0,136300,78150,23000,60800
11,2000,0,400000,117500,67500,0,66000,102300,42300,0,...,24600,1454800,79100,79000,524000,0,136300,71600,23000,61800
12,2001,0,0,145500,40500,0,66000,101300,43000,0,...,24800,1420700,72000,105300,524000,0,124000,67000,23000,60800
13,2002,0,120000,110000,27000,0,41500,101100,45600,0,...,24800,1467000,72000,105300,524000,0,136500,60000,23000,57800
14,2003,0,130000,130000,22000,0,50500,102600,45600,0,...,24900,1480000,72000,105300,524000,0,136700,55700,19500,50800
15,2004,0,27000,118000,21500,0,50000,102000,49000,0,...,24920,1473000,75000,82000,0,0,136000,55000,16000,50000
16,2005,0,27000,118000,22500,0,51000,102000,49000,0,...,24920,1546000,91000,82000,495000,0,138000,56000,16000,51000
17,2006,0,51000,110000,11500,0,51000,107000,47000,0,...,0,1498000,87000,0,495000,0,138000,103000,16000,51000
18,2007,0,51000,117000,14500,0,51000,107000,42000,0,...,25900,1555000,87000,115000,495000,0,138000,62000,16000,51000
19,2008,0,94000,117000,14500,0,51000,107000,42000,0,...,25900,1540000,87000,115000,495000,0,138000,62000,16000,51000
20,2009,0,255745,117000,14745,0,51000,104340,55570,0,...,25439,1563996,87000,115000,495000,0,137900,77153,16500,50800
21,2010,0,306800,117000,14745,0,51000,104340,55528,0,...,25439,1569417,87000,115000,522000,0,137900,77153,16500,50800
22,2011,0,340350,117000,14750,0,51000,104350,55544,0,...,25450,1520100,68000,115000,522000,0,137900,77582,16500,50800
23,2012,0,338150,117000,14750,0,51000,104350,49100,0,...,25450,1492200,68000,115000,522000,0,137900,62100,16500,50800
24,2013,0,330650,117000,8500,0,63000,105650,49100,0,...,25450,1433150,68000,115000,522000,0,137900,77150,16500,50800
25,2014,0,308800,117000,8500,0,63000,105650,49100,0,...,25450,1381250,68000,265000,522000,0,20000,82250,16500,50800
26,2015,0,319400,117000,8500,0,63000,105450,49100,0,...,25450,1347300,68000,265000,522000,0,20000,82150,16500,50800
27,2016,0,323000,117000,8500,0,63000,105450,49100,0,...,25450,1348400,68000,273000,522000,0,20000,81400,16500,50800
28,2017,0,323000,117000,9000,0,63000,105000,49000,0,...,22000,1359000,68000,343000,522000,0,40000,80000,16000,51000

In [7]:
afp_indexed = afp.set_index('Time')
afp_indexed

,Aruba,Afghanistan,Angola,Albania,Andorra,United Arab Emirates,Argentina,Armenia,American Samoa,Australia,...,Uruguay,United States,Uzbekistan,"Venezuela, RB",Vietnam,Vanuatu,Yemen,South Africa,Zambia,Zimbabwe
Time,,,,,,,,,,,,,,,,,,,,,
1989,0,55000,107000,0,0,43000,95000,0,0,70000,...,27000,2240000,0,75000,1250000,0,62000,100000,17000,51000
1990,0,58000,115000,0,0,66000,85000,0,0,68000,...,25000,2180000,0,75000,1050000,0,127000,85000,16000,45000
1991,0,45000,150000,0,0,66000,70000,0,0,68000,...,25000,2120000,0,73000,1040000,0,127000,80000,16000,45000
1992,0,45000,128000,65000,0,55000,65000,20000,0,68000,...,25000,1920000,40000,75000,857000,0,64000,75000,16000,48000
1993,0,45000,128000,65000,0,55000,65000,21000,0,68000,...,25000,1820000,41000,75000,857000,0,64000,75000,16000,48000
1994,0,45000,120000,65000,0,60000,69000,45000,0,65000,...,25000,1720000,20000,75000,700000,0,69000,75000,16000,43000
1995,0,383000,122000,86500,0,71000,98500,61000,0,57100,...,26500,1635600,41700,80000,622000,0,69500,276900,23000,67800
1996,0,429000,106400,67500,0,65500,103700,58400,0,58800,...,26520,1572100,46000,79000,622000,0,112000,277900,23000,64800
1997,0,429000,125500,67500,0,65500,104240,61000,0,58400,...,26050,1533300,86000,79000,557000,0,146300,217440,23000,60800
1998,0,400000,129000,67500,0,65500,104240,54400,0,58400,...,26520,1594000,100000,79000,524000,0,136300,211700,23000,60800
1999,0,400000,127500,67500,0,65500,101740,54400,0,56200,...,26520,1575000,94000,79000,524000,0,136300,78150,23000,60800
2000,0,400000,117500,67500,0,66000,102300,42300,0,51600,...,24600,1454800,79100,79000,524000,0,136300,71600,23000,61800
2001,0,0,145500,40500,0,66000,101300,43000,0,51700,...,24800,1420700,72000,105300,524000,0,124000,67000,23000,60800
2002,0,120000,110000,27000,0,41500,101100,45600,0,50900,...,24800,1467000,72000,105300,524000,0,136500,60000,23000,57800
2003,0,130000,130000,22000,0,50500,102600,45600,0,53600,...,24900,1480000,72000,105300,524000,0,136700,55700,19500,50800
2004,0,27000,118000,21500,0,50000,102000,49000,0,52000,...,24920,1473000,75000,82000,0,0,136000,55000,16000,50000
2005,0,27000,118000,22500,0,51000,102000,49000,0,53000,...,24920,1546000,91000,82000,495000,0,138000,56000,16000,51000
2006,0,51000,110000,11500,0,51000,107000,47000,0,51000,...,0,1498000,87000,0,495000,0,138000,103000,16000,51000
2007,0,51000,117000,14500,0,51000,107000,42000,0,55000,...,25900,1555000,87000,115000,495000,0,138000,62000,16000,51000
2008,0,94000,117000,14500,0,51000,107000,42000,0,55000,...,25900,1540000,87000,115000,495000,0,138000,62000,16000,51000
2009,0,255745,117000,14745,0,51000,104340,55570,0,56552,...,25439,1563996,87000,115000,495000,0,137900,77153,16500,50800
2010,0,306800,117000,14745,0,51000,104340,55528,0,56552,...,25439,1569417,87000,115000,522000,0,137900,77153,16500,50800
2011,0,340350,117000,14750,0,51000,104350,55544,0,57050,...,25450,1520100,68000,115000,522000,0,137900,77582,16500,50800
2012,0,338150,117000,14750,0,51000,104350,49100,0,56200,...,25450,1492200,68000,115000,522000,0,137900,62100,16500,50800
2013,0,330650,117000,8500,0,63000,105650,49100,0,56750,...,25450,1433150,68000,115000,522000,0,137900,77150,16500,50800
2014,0,308800,117000,8500,0,63000,105650,49100,0,56750,...,25450,1381250,68000,265000,522000,0,20000,82250,16500,50800
2015,0,319400,117000,8500,0,63000,105450,49100,0,57800,...,25450,1347300,68000,265000,522000,0,20000,82150,16500,50800
2016,0,323000,117000,8500,0,63000,105450,49100,0,57800,...,25450,1348400,68000,273000,522000,0,20000,81400,16500,50800
2017,0,323000,117000,9000,0,63000,105000,49000,0,58000,...,22000,1359000,68000,343000,522000,0,40000,80000,16000,51000

In [8]:
afp_indexed.isnull().sum().sum()

0

In [9]:
afp_indexed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 1989 to 2017
Columns: 176 entries, Aruba to Zimbabwe
dtypes: int64(176)
memory usage: 40.1 KB

In [10]:
afp_indexed.describe()

,Aruba,Afghanistan,Angola,Albania,Andorra,United Arab Emirates,Argentina,Armenia,American Samoa,Australia,...,Uruguay,United States,Uzbekistan,"Venezuela, RB",Vietnam,Vanuatu,Yemen,South Africa,Zambia,Zimbabwe
count,29.0,29.000000,29.000000,29.000000,29.0,29.000000,29.000000,29.000000,29.0,29.000000,...,29.000000,2.900000e+01,29.000000,29.000000,2.900000e+01,29.0,29.000000,29.000000,29.000000,29.000000
mean,0.0,209651.551724,120496.551724,30861.724138,0.0,57758.620690,97872.413793,42822.137931,0.0,58039.793103,...,24497.517241,1.598597e+06,63475.862069,115651.724138,5.982759e+05,0.0,107737.931034,97976.827586,18224.137931,53020.689655
std,0.0,156578.721809,9700.533224,27341.765908,0.0,8028.543599,13199.522355,17429.992836,0.0,5631.305947,...,4797.487301,2.383171e+05,28566.547058,74423.967053,2.284952e+05,0.0,43176.882156,62470.149320,3069.394446,6143.136665
min,0.0,0.000000,106400.000000,0.000000,0.0,41500.000000,65000.000000,0.000000,0.0,50900.000000,...,0.000000,1.347300e+06,0.000000,0.000000,0.000000e+00,0.0,20000.000000,55000.000000,16000.000000,43000.000000
25%,0.0,51000.000000,117000.000000,9000.000000,0.0,51000.000000,101100.000000,42300.000000,0.0,55000.000000,...,24920.000000,1.467000e+06,46000.000000,79000.000000,5.220000e+05,0.0,69000.000000,67000.000000,16000.000000,50800.000000
50%,0.0,255745.000000,117000.000000,14750.000000,0.0,60000.000000,103700.000000,49000.000000,0.0,56750.000000,...,25439.000000,1.540000e+06,68000.000000,82000.000000,5.240000e+05,0.0,136300.000000,77153.000000,16500.000000,50800.000000
75%,0.0,338150.000000,125500.000000,65000.000000,0.0,65500.000000,105000.000000,54400.000000,0.0,58400.000000,...,25900.000000,1.594000e+06,87000.000000,115000.000000,6.220000e+05,0.0,137900.000000,82250.000000,23000.000000,57800.000000
max,0.0,429000.000000,150000.000000,86500.000000,0.0,71000.000000,107000.000000,61000.000000,0.0,70000.000000,...,27000.000000,2.240000e+06,100000.000000,343000.000000,1.250000e+06,0.0,146300.000000,277900.000000,23000.000000,67800.000000

In [11]:
pip install bar_chart_race

Requirement already satisfied: bar_chart_race in c:\users\cgsun\anaconda3\lib\site-packages (0.1.0)
Requirement already satisfied: matplotlib>=3.1 in c:\users\cgsun\anaconda3\lib\site-packages (from bar_chart_race) (3.1.3)
Requirement already satisfied: pandas>=0.24 in c:\users\cgsun\anaconda3\lib\site-packages (from bar_chart_race) (1.0.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\cgsun\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\cgsun\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (2.4.6)
Requirement already satisfied: numpy>=1.11 in c:\users\cgsun\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (1.18.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\cgsun\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\cgsun\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\cgsun\anaconda3\lib\site-packages (from pandas>=0.24->bar_chart_race) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\cgsun\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib>=3.1->bar_chart_race) (1.14.0)
Requirement already satisfied: setuptools in c:\users\cgsun\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=3.1->bar_chart_race) (45.2.0.post20200210)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import bar_chart_race as bcr
bcr.bar_chart_race(afp_indexed, 'F:\Big_Data\Military\Armed forces personnel\military.mp4', n_bars=15, steps_per_period=1000, period_length=1000,
                  title='Top15 countries with most military personnel',  figsize=(5, 3))

C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 127 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 128 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 129 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 130 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 131 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 132 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 133 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 134 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 135 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 136 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 137 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 138 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 139 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 140 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 141 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 142 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 143 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 144 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 145 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 146 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 147 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 148 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 149 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 150 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 151 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 152 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 153 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 154 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 155 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 156 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 157 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 158 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:211: RuntimeWarning: Glyph 159 missing from current font.
  font.set_text(s, 0.0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:180: RuntimeWarning: Glyph 127 missing from current font.
  font.set_text(s, 0, flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 128 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 129 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 130 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 131 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 132 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 133 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 134 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 135 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 136 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 137 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 138 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 139 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 140 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 141 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 142 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 143 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 144 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 145 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 146 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 147 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 148 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 149 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 150 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 151 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 152 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 153 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 154 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 155 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 156 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 157 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 158 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\matplotlib\backends\backend_agg.py:176: RuntimeWarning: Glyph 159 missing from current font.
  font.load_char(ord(s), flags=flags)
C:\Users\cgsun\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:226: UserWarning: Some of your columns never make an appearance in the animation. To reduce color repetition, set `filter_column_colors` to `True`
  warnings.warn("Some of your columns never make an appearance in the animation. "